*,
html,
body {
	font-family: 'Verdana';
	margin:0;
	padding:0;
	font-size: 16px;
	background-color: black;
	color: white;
}

h1 {
	font-size: 2.5em;
    line-height: 1em;
    font-weight: lighter;
    transition: opacity 250ms ease-out;
    letter-spacing: .25em;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    justify-content: space-between;
    text-align: center;
    padding: .5em 0 .85em 0;
    stext-transform: lowercase;
    color: #98c3adfa;
}

h2 {
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: .15em;
    color: #b9e6e65e;
    margin-left: 23%;
}

hr {
	margin: 1.5em 0 2em 0;
}

.top {
	text-align: center;
    margin: 0 0 5em;
    font-style: italic;
    font-size: .5em;
}

.top a,
.top quote {
	font-size: 1.5em;
    letter-spacing: .05em;
    color: #e2b19f;
}

.bottompage,
.bottompage quote {
	font-size: .85em;
	color: grey;
	margin: 1em auto 0;
	text-align: center;
	display: block;
}

.bottompage a {
	color: grey;
	font-size: .95em;
}
 #randomPage .social,
 #randomPage a {
 	font-size: 1em;
    color: deepskyblue;
 }

.next-batch-img,
.project-container {
	display: flex;
	margin: 0 auto;
	max-width: 786px;
	cursor: pointer;
}

.project-container div {
	margin: 15px 25px;
	flex-grow: 1;
	flex-shrink: 1;
  	flex-basis: 0;
}

.project-container div img {
	display:inline-block;
	width:100%;
}

#randomPage .project-container div {
	margin-top: 0 !important;
}

.next-batch-img {
	margin:0 !important;
}
.next-batch-img img {
	width: 33.3% !important;
}

#randomPage .next-batch-img {
	margin: 1em auto 0 !important;
}

#randomPage img {
	width: 20% !important;
	margin: 1em auto 0 !important;
}

.priyashakti {
	flex-basis: 18.7em !important;
}

.priyashakti .title {
	color: #3fff00;
    background: #7c74f54a;
	padding: .15em;   
}

.priyashakti .tag {
	color: #ff00e0;
}

.fontwala {
	flex-basis: 16em !important;
}

.fontwala .title {
	background-color: #ff000038;
}

.fontwala .tag {
	color: #dec33e;
}

.themusicinmyblood .title{
	background-color: #fbfbf930;
    color: #ff6a00;
}

.themusicinmyblood .tag {
	color: #c59f78eb;
}

.randomfox .title {
	background-color: #ee730a47;
    color: #9ef39e;
}

.randomfox .tag {
	color: #bab1e0;
}

.priyashakti:hover,
.fontwala:hover,
.themusicinmyblood:hover,
.randomfox:hover {
	background-color: #0625bd52;
}

#randomPage,
#musicPage {
	padding-top: 2em;
}
#musicPage h1 {
	color: #ad2e2e;
    font-weight: lighter;
    letter-spacing: 0.2em;
    font-size: 2em !important;
    padding-bottom: 0.5em;
}

#musicPage em {
	text-align: center;
    margin: 0 auto;
    display: inherit;
    font-size: .85em;
    color: #b7968a;
}

#musicPage .video-scale {
	margin-top:0 !important;
}

#randomPage h1 {
	color: #d46a20;
    font-weight: lighter;
    letter-spacing: .2em;
}

#randomPage h2 {
	text-align: center;
	text-transform: uppercase;
}

#randomPage h3 {
	font-weight: lighter;
    font-size: .75em;
    color: #b2eec7;
    letter-spacing: .1em;
}

.title {
  	font-size: 1em;
  	text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 1.25em;
    margin: .5em 0 !important;
    padding: 0.5em 0;
}

.tag {
	margin:0 0 .5em 0!important;
	padding:0;
	line-height:1.25em;
	font-size:.75em;
	text-transform: uppercase;
	text-align: center;
	background-color: #ffffff26;
}

.next-batch {
	flex-direction: column !important;
}

#priyaPage .back h2,
#randomPage .back h2,
#musicPage .back h2,
.back h2 {
	position: fixed;
    text-align: right !important;
    text-decoration: none;
    text-transform: lowercase;
    bottom: -40px;
    right: 20px;
    font-size: .85em !important;
    font-weight: lighter;
    color: deepskyblue !important;
    padding:0 0 3em 0;
    cursor: pointer;
    z-index: 2;
}

#randomPage .back h2 {
	color: #ff009985 !important;
}

#musicPage .back h2 {
	bottom: -14px !important;
}


#priyaPage {
	padding-top: 2em;
}

#priyaPage h1 {
	color: yellow;
	padding-bottom: .5em;
}

#randomPage h2,
#musicPage h2,
#fontwalaPage h2,
#priyaPage h2 {
	color: #e08dba;
	margin: 0 0 1em 0;
}

#priyaPage h2 {
	font-size: 1.5em !important;
	text-transform: uppercase !important;
	line-height: 1.75em;
}

#priyaPage quote {
	text-align: center;
    display: inherit;
    color: #886969;
}

#priyaPage a,
#priyaPage p {
	font-size: 1.5em !important;
	line-height: 1.75em;
	color: #8388ad !important;
	text-align: center;
}

#priyaPage .project-container {
	padding-top: 2em;
}

#priyaPage .project-container div {
	color: #8388ad;
	font-size: .85em;
    text-align: center;
	line-height: 1.3em;
}

#priyaPage .project-container .press {
	border: 2px solid #00BCD4;
	padding: 1.5em;
}

#priyaPage iframe {
	text-align: center;
	margin: 0 auto;
}

#priyaPage #previous {
	color: white !important;
	font-size: .65em !important;
}

#priyaPage .chapters {
	display: flex;
	flex-direction: row;
}

#priyaPage .chapters a {
	font-size: 1.2em !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height:1.5em;
}

#fontwalaPage .content-area p:first-child{
	text-align:justify !important;
}

.content-area {
	padding-bottom: 2em;
}

#fontwalaPage h1 {
	font-size: 2em;
    margin-top: 2em;
    font-weight: lighter;
    color: #ef1717;
    letter-spacing: .2em;
}

#fontwalaPage h2 {
	color: #dc8314 !important;
	font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}


#randomPage p, 
#randomPage em,
#musicPage p,
#fontwalaPage em,
#fontwalaPage p {
	color: #b3a6a6;
    font-size: .85em;
    text-align: center;
    line-height: 1.75em;
}

#randomPage em {
	display: block;
    margin: 0 auto;
    width: 57%;
    text-align: justify;
}

#fontwalaPage ul {
	list-style-type: none;
}

#fontwalaPage a {
	color: #f71775fa;
    font-size: .85em;
    letter-spacing: .1em;
}

.social {
	text-decoration: none;
	font-weight: lighter;
	line-height: .5em;
}

#fontwalaPage ul li {
	margin-bottom: 1em;
}

#fontwalaPage ul li a{
	color: #87b5ee;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: capitalize;
    line-height: 1.85em;
}

.image-scale img{
	width: 60% !important;
    margin: 0 auto;
}

.thumbnail-scale {
	justify-content: space-between;
}

.thumbnail-scale img {
	width: 24% !important;
	border: 1px solid orange;
}

.thumbnail-center {
	display: inherit;
}

.thumbnail-center img {
	width: 20% !important;
	border: 1px solid coral;
	display: inherit;
	margin: 0 auto;
	text-align: center;
}
.list-content {
	display: flex;
	flex-direction: column;
}

.poster-full img {
	width: 50% !important;
}

.poster-full p {
	text-align: left !important;
}

.video-scale{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-scale iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#randomPage .video-details em {
	width: 100%;
	text-align: justify;
}
#randomPage ul {
	list-style-type: none;
}

.artby {
	font-size: .5em !important;
    text-align: center !important;
    margin-top: .5em;
    color: #f1d5cbad !important;
    letter-spacing: .05em;
}

.playlist {
	display:block;
	margin-bottom: 1em;
	text-align: center;
}
.playlist img {
	width: 60% !important;
	border: 1px solid orange;
}
.two-image-scale {
	justify-content: space-around;
}
.two-image-scale img {
	width: 50% !important;
	margin: 0 10px;
	border: 1px solid orange;
}
#musicPage h2 {
	color: #98b3cc;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0 auto 1em;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: .85em;
}
#musicPage a {
	font-size: 1em;
    text-transform: lowercase;
    color: #e6d139;
    font-weight: normal;
    letter-spacing: .1em;
}
.block-text {
	text-align: justify !important;
}
.upnext {
	text-align: justify !important;
}

#randomPage .castme img {
	width: 100% !important;
	height: auto;
}


@media screen and (max-width: 992px) {
  
  h1 {
  	font-size: 1.5em;
  }

  h2 {
  	margin-left: 40%;
  }

  quote {
  	margin: 10px;
  }

  .project-container {
  	flex-direction: column;
  }


  .next-batch-img {
  	flex-direction: column;
  }

  .next-batch-img img{
  	width: 100% !important;
  }

	#randomPage .next-batch-img img {
		width: 25% !important;
	    margin: 1em auto 0;
	}

  .back {
  	font-size: .5em;
  }

	#priyaPage .chapters {
		flex-direction: column;
	}

	.thumbnail-scale img {
		width: 100% !important;
	}

	.two-image-scale img {
	width: 100% !important;
	margin-bottom: 10px;
	}

	#musicPage em {
		font-size: .75em !important;
	}

	.poster-full img {
	width: 100% !important;
}

.poster-full p {
	text-align: center !important;
}

 #randomPage em {
 	display: block;
    margin: 0 auto;
    width: 86%;
    text-align: justify;
 }

 #randomPage .project-container {
 	margin: 0 !important;
 	padding: 0 !important;
 }



 .list-content {
 	flex-direction: column;
    margin: 1em 0 00 !important;
 }

 #randomPage .video-scale {
 	width: 100% !important;
 	margin: 0 !important;
 }

 #randomPage .video-details {
 	margin: 1em 0 2.5em 0;
 	padding: 1em 0 0;
 }

 #randomPage .video-details em {
 	margin: 0;
 	padding: 0;
 }
}